@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel

<!-- styling -->
<style>
    h1 {
        padding-bottom: 30px;
        color: whitesmoke;
    }

    h2 {
        font-weight: 800;
    }

    h3 {
        font-style: italic;
    }

    .indBook {
        width: 600px;
        padding: 20px;
        margin: 20px;
        background-color: whitesmoke;
    }
</style>
<!-- for loop to loop through each book object to access its info -->
@foreach (var x in Model.Books)
{
    <div class="indBook border-outset">
        <h2>@x.Title</h2>
        <h3>@(x.AuthorFirst + " " + x.AuthorLast)</h3>
        <h5>@("Genre: " + x.Category1 + ", " + x.Category2)</h5>
        <h5>@(x.Publisher + " --- " + x.Isbn)</h5>
        <h5 class="text-danger">@x.Price</h5>
        <h5>Pages: <span class="label label-primary">999</span></h5>
    </div>
}
<br /><br />
<!-- display ISBN validation message -->
<div asp-validation-summary="All"></div>

<div page-model="@Model.PagingInfo" page-action="Index" class="pagination pagination-primary">

</div>